.gblog-markdown {
  line-height: 1.6rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;

    > code {
      border-top: $border-4 solid var(--accent-color);
      font-size: $font-size-12 !important;
    }
  }

  h4,
  h5,
  h6 {
    > code {
      font-size: $font-size-14 !important;
    }
  }

  b,
  optgroup,
  strong {
    font-weight: bolder;
  }

  &__link--raw {
    text-decoration: none !important;
    color: $body-font-color !important;

    &:hover {
      background: none !important;
      color: $body-font-color !important;
      text-decoration: none !important;
    }

    &:visited {
      color: $body-font-color !important;
    }
  }

  &__link--code {
    text-decoration: none;
    code {
      color: inherit !important;
    }

    &:hover {
      background: none;
      color: var(--link-color) !important;
      text-decoration: underline;
    }

    &:visited,
    &:visited:hover {
      color: var(--link-color-visited) !important;
    }
  }

  img {
    max-width: 100%;
    border-radius: $border-radius;
  }

  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

    border-left: $border-4 solid var(--accent-color);
    border-radius: $border-radius;
  }

  table:not(.lntable) {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    margin: $padding-16 0;
    width: 100%;
    text-align: left;

    thead {
      border-bottom: $border-4 solid var(--accent-color);
    }

    tr th,
    tr td {
      padding: $padding-8 $padding-16;
    }

    tr {
      border-bottom: $border-2 solid var(--accent-color);
    }

    tr:nth-child(2n) {
      background: var(--accent-color-lite);
    }
  }

  hr {
    height: $border-2;
    border: none;
    background: var(--accent-color);
  }

  ul,
  ol {
    padding-left: $padding-32;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-left: $padding-32;
    }
  }

  code {
    padding: $padding-4 $padding-8;
  }

  pre,
  code {
    background-color: var(--code-background);
    border-radius: $border-radius;
    color: var(--code-font-color);
    font-size: $font-size-14;
    line-height: $padding-16;
  }

  pre code {
    display: block;
    padding: $padding-16;
    width: 100%;
  }

  mark {
    background-color: var(--mark-color);
  }

  section.footnotes {
    margin-top: $padding-32;
    color: var(--body-font-color);
    font-size: $font-size-14;
  }
}
