@media print {
  .gblog-nav,
  .gblog-header,
  .gblog-footer,
  .gblog-paging,
  .gblog-post__readmore,
  .gblog-post__anchor,
  .gblog-post__codecopy,
  .gblog-post__meta--author,
  .gblog-post__meta--tag,
  .gblog-post__meta--pinned {
    display: none;
  }

  .gblog-post {
    padding: 0.5em 0;
  }

  .gblog-markdown pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .chroma code {
    padding: $padding-8 !important;
    font-weight: normal !important;
  }

  .gblog-markdown code {
    font-weight: bold;
  }

  a,
  a:visited,
  a:visited {
    color: var(--link-color) !important;
    background: none !important;
    text-decoration: underline !important;
  }

  h2,
  h3,
  h4,
  .no-break-after {
    break-after: avoid;
  }

  pre,
  blockquote,
  .no-break-inside {
    break-inside: avoid;
  }
}
