@use "sass:color";
@use "defaults";

// {{< expand "Label" "icon" >}}
.gblog-expand {
  margin: defaults.$padding-16 0;

  border: defaults.$border-1 solid var(--accent-color);
  border-radius: defaults.$border-radius;

  overflow: hidden;

  &__head {
    background: var(--accent-color-lite);
    padding: defaults.$padding-8 defaults.$padding-16;
    cursor: pointer;
    user-select: none;
  }

  &__content {
    display: none;
    padding: 0 defaults.$padding-16;
  }

  &__control:checked + &__content {
    display: block;
  }

  .gblog-post__anchor {
    display: none;
  }
}

// {{< tabs >}}
.gblog-tabs {
  margin: defaults.$padding-16 0;

  border: defaults.$border-1 solid var(--accent-color);
  border-radius: defaults.$border-radius;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  &__label {
    display: inline-block;
    padding: defaults.$padding-8 defaults.$padding-16;
    border-bottom: defaults.$border-1 transparent;
    cursor: pointer;
    user-select: none;
  }

  &__content {
    order: 999; //Move content blocks to the end
    width: 100%;
    border-top: defaults.$border-1 solid var(--accent-color-lite);
    padding: 0 defaults.$padding-16;
    display: none;
  }

  &__control:checked + &__label {
    border-bottom: defaults.$border-2 solid var(--link-color);
  }
  &__control:checked + &__label + &__content {
    display: block;
  }

  .gblog-post__anchor {
    display: none;
  }
}

// {{< columns >}}
.gblog-columns {
  margin: defaults.$padding-16 0;

  &--regular > :first-child {
    flex: 1;
  }

  &--small > :first-child {
    flex: 0.35;
    min-width: defaults.$body-min-width * 0.35;
  }

  &--large > :first-child {
    flex: 1.65;
    min-width: defaults.$body-min-width * 1.65;
  }

  &__content {
    flex: 1 1;
    min-width: defaults.$body-min-width * 0.66;
    padding: 0;
  }

  .gblog-post__anchor {
    display: none;
  }
}

// {{< button >}}
.gblog-button {
  $root: &;
  margin: defaults.$padding-16 0;

  display: inline-block;
  background: var(--accent-color-lite);
  border: defaults.$border-1 solid var(--accent-color);
  border-radius: defaults.$border-radius;
  cursor: pointer;
  user-select: none;

  &__link {
    display: inline-block;
    color: inherit !important;
    text-decoration: none !important;

    &:hover,
    &:visited:hover {
      background: none;
    }
  }

  &:hover {
    background: var(--button-background);
    border-color: var(--button-border-color);
    color: defaults.$gray-100;
  }

  &--regular {
    font-size: defaults.$font-size-base;

    #{$root}__link {
      padding: defaults.$padding-4 defaults.$padding-8;
    }
  }

  &--large {
    font-size: defaults.$font-size-20;

    #{$root}__link {
      padding: defaults.$padding-8 defaults.$padding-16;
    }
  }
}

// {{< box >}}
.gblog-box {
  flex-direction: column;
  background: var(--accent-color-lite);
  border: defaults.$border-1 solid var(--accent-color);
  border-radius: defaults.$border-radius;
  text-align: center;
  flex: 1 1 0;

  &--regular {
    font-size: defaults.$font-size-base;
    padding: defaults.$padding-4 defaults.$padding-8;
    min-width: 8rem;
  }

  &--large {
    font-size: defaults.$font-size-20;
    padding: defaults.$padding-8 defaults.$padding-16;
    min-width: 12rem;
  }

  &__title {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    gap: defaults.$padding-8;

    svg.gblog-icon {
      width: defaults.$padding-24;
      height: defaults.$padding-24;
      min-width: defaults.$padding-24;
    }
  }

  &__text {
    margin: defaults.$padding-8 0;
    font-size: defaults.$font-size-16;
  }
}

// {{< hint >}}
.gblog-hint {
  $root: &;
  @each $name, $color in defaults.$hint-colors {
    &.#{$name} {
      border-color: $color;
      padding: 0;

      #{$root}__title {
        background-color: color.adjust($color, $alpha: -0.9);
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
        position: relative;
        z-index: -10;
        outline: color.adjust($color, $alpha: -0.9);
      }
    }
  }

  &__title {
    padding: defaults.$padding-4 defaults.$padding-16;
    font-weight: bold;
    color: var(--body-font-color);
    margin-left: -5px;

    @each $name, $icon in defaults.$hint-icons {
      i.fa.#{$name} {
        width: defaults.$font-size-24;
        height: defaults.$font-size-24;

        mask-image: url(img/geekblog-stack.svg##{$icon});
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: var(--body-font-color);
      }
    }

    .gblog-icon {
      width: defaults.$font-size-24;
      height: defaults.$font-size-24;
    }
  }

  &__text {
    padding: defaults.$padding-4 defaults.$padding-16;
  }

  .gblog-post__anchor {
    display: none;
  }
}

// {{< mermaid >}}
.gblog-mermaid {
  font-family: var(--body-font-family);

  // Fix height of mermaid SVG elements (see https://github.com/mermaid-js/mermaid/issues/2481)
  > svg {
    height: 100%;
    padding: defaults.$padding-8;
  }
}

// {{< propertylist >}}
.gblog-props {
  &__title,
  &__default {
    padding: 0;
    margin: 0;
    font-family: var(--code-font-family);
  }

  &__meta {
    gap: 0.5em;
    line-height: normal;
    margin-bottom: defaults.$padding-4;

    &:hover .gblog-post__anchor svg.gblog-icon {
      color: var(--control-icons);
    }
  }

  @each $name, $color in defaults.$hint-colors {
    &__tag.#{$name} {
      border-color: color.scale($color, $lightness: 90%, $saturation: -30%);
      background-color: color.scale($color, $lightness: 95%, $saturation: -30%);
    }
  }

  &__tag {
    font-size: defaults.$font-size-14;
    font-weight: normal;
    background-color: defaults.$gray-100;
    border: defaults.$border-1 solid defaults.$gray-200;
    border-radius: defaults.$border-radius;
    padding: defaults.$padding-2 defaults.$padding-4;
    color: defaults.$body-font-color;
  }

  &__default {
    font-size: defaults.$font-size-14;
  }
}

// {{% progress %}}
.gblog-progress {
  margin-bottom: defaults.$padding-16;

  &__label {
    padding: defaults.$padding-4 0;

    &--name {
      font-weight: bold;
    }
  }

  &__wrap {
    background-color: var(--accent-color-lite);
    border-radius: 1em;
    box-shadow: inset 0 0 0 defaults.$border-1 var(--accent-color);
  }

  &__bar {
    height: 1em;
    border-radius: 1em;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 2.5em 2.5em;
    background-color: defaults.$main-color;

    @each $name, $color in defaults.$hint-colors {
      &.#{$name} {
        background-image: linear-gradient(
          -45deg,
          #{color.scale($color, $lightness: -20%)} 25%,
          transparent 25%,
          transparent 50%,
          #{color.scale($color, $lightness: -20%)} 50%,
          #{color.scale($color, $lightness: -20%)} 75%,
          transparent 75%,
          transparent
        );

        background-color: $color;
      }
    }
  }
}
