{{- $showAnchor := (and (default true .Page.Params.GeekblogAnchor) (default true .Page.Site.Params.GeekblogAnchor)) -}}

{{- if $showAnchor -}}
<div class="gblog-post__anchorwrap">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}">
        {{ .Text | safeHTML }}
        <a data-clipboard-text="{{ .Page.Permalink }}#{{ .Anchor | safeURL }}" class="gblog-post__anchor gblog-post__anchor--right clip" aria-label="Anchor {{ .Text | safeHTML }}" href="#{{ .Anchor | safeURL }}">
            <svg class="icon gblog_link"><use xlink:href="#gblog_link"></use></svg>
        </a>
    </h{{ .Level }}>
</div>
{{- else -}}
<div class="gblog-post__anchorwrap">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}">
        {{ .Text | safeHTML }}
    </h{{ .Level }}>
</div>
{{- end -}}
