{{- $showAnchor := (and (default true .Page.Params.GeekblogAnchor) (default true .Page.Site.Params.GeekblogAnchor)) -}}


<!-- prettier-ignore-start -->
{{- if $showAnchor -}}
<div class="gblog-post__anchorwrap flex align-center">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}">
        {{ .Text | safeHTML }}
    </h{{ .Level }}>
    <a data-clipboard-text="{{ .Page.Permalink }}#{{ .Anchor | safeURL }}" class="gblog-post__anchor clip flex align-center" aria-label="Anchor {{ .Text | safeHTML }}" href="#{{ .Anchor | safeURL }}">
        <svg class="gblog-icon gblog_link"><use xlink:href="#gblog_link"></use></svg>
    </a>
</div>
{{- else -}}
<div class="gblog-post__anchorwrap">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}">
        {{ .Text | safeHTML }}
    </h{{ .Level }}>
</div>
{{- end -}}
<!-- prettier-ignore-end -->
