{{ $pag := $.Paginator }}

<nav class="gblog-paging flex flex-even align-center " role="navigation">
    <div class="gblog-paging__item gblog-paging__item--next">
    {{ if $pag.HasPrev }}
        <a class="flex-inline align-center fake-link" href="{{ $pag.Prev.URL }}">Newer posts</a>
    {{ end }}
    </div>
    <div class="gblog-paging__state">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</div>
    <div class="gblog-paging__item gblog-paging__item--prev">
    {{ if $pag.HasNext }}
        <a class="flex-inline align-center fake-link" href="{{ $pag.Next.URL }}">Older posts</a>
    {{ end }}
    </div>
</nav>
