<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="color-toggle-hidden">
  <head>
    {{ partial "head/meta" . }}
    <title>Lost? Don't worry</title>

    {{ partial "head/favicons" . }}
    {{ partial "head/others" . }}
  </head>

  <body>
    {{ partial "svg-sprites" . }}


    <div class="wrapper">
      {{ partial "site-header" . }}


      <main class="gblog-error flex-even">
        <div class="flex align-center justify-center">
          <div class="gblog-error__icon">
            <svg class="gblog-icon gblog_cloud_off"><use xlink:href="#gblog_cloud_off"></use></svg>
          </div>
          <div class="gblog-error__message">
            <div class="gblog-error__line gblog-error__title">Lost?</div>
            <div class="gblog-error__line gblog-error__code">Error 404</div>
            <div class="gblog-error__line gblog-error__help">
              Seems like what you are looking for can't be found. Don't worry we can bring you back
              to the <a class="gblog-error__link" href="{{ .Site.BaseURL }}">homepage</a>.
            </div>
          </div>
        </div>
      </main>

      {{ partial "site-footer" . }}

    </div>
  </body>
</html>
