{{- if .Inner }}{{ end }}
{{- $id := .Get 0 }}
{{- $group := printf "grid-%s" $id }}


<div class="flex flex-gap flex-fill">
  {{- range $index, $box := .Scratch.Get $group }}
    <div
      class="flex justify-center gblog-box gblog-box--{{ $box.Size }}
        {{ with $box.Class }}{{ printf " %s" . }}{{ end }}"
    >
      {{ if or $box.Title $box.Icon }}
        <div class="flex align-center justify-center gblog-box__title">
          {{- with $box.Icon }}
            <svg class="gblog-icon {{ . }}"><use xlink:href="#{{ . }}"></use></svg>
          {{- end }}
          {{ with $box.Title }}<span>{{ . }}</span>{{ end }}
        </div>
      {{ end }}
      <div class="flex align-center justify-center gblog-box__text">
        {{ .Content | $.Page.RenderString }}
      </div>
    </div>
  {{- end }}
</div>
