{{- $ref := "" }}
{{- $class := "" }}
{{- $size := default "regular" (.Get "size" | lower) }}

{{- if not (in (slice "regular" "large") $size) }}
  {{- $size = "regular" }}
{{- end }}

{{- with .Get "href" }}
  {{- $ref = . }}
{{- end }}

{{- with .Get "relref" }}
  {{- $ref = relref $ . }}
{{- end }}

{{- with .Get "class" }}
  {{- $class = . }}
{{- end }}


<span class="gblog-button gblog-button--{{ $size }}{{ with $class }}{{ printf " %s" . }}{{ end }}">
  <a
    class="gblog-button__link"
    {{- with $ref }}{{ printf " href=\"%s\"" . | safeHTMLAttr }}{{ end }}
  >
    {{ $.Inner }}
  </a>
</span>
